@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

*, *:before, *:after {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}
html {
    font-family: 'Pretendard';
    line-height: 1.6rem;
    letter-spacing: -.02rem;
    font-size: 18px;
    background: #000;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
    width: 100%;
    min-height: 100%;
}

ul li {
    list-style: none;
}

ol {
    list-style-position: inside;
}

img,
fieldset {
    border: none;
}

img {
    vertical-align: middle;
}

hr.layout {
    display: none;
}

em,
address {
    font-style: normal;
}

ins {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:active {
    text-decoration: none;
}

table {
    width: 100%;
    table-layout: fixed;
    border: 0 none;
    border-spacing: 0;
    border-collapse: collapse;
}

table caption {
    display: none;
}

th,
td {
    border: 0;
    line-height: 18px;
}

legend {
    height: 0;
    width: 0;
    display: block;
    text-indent: -9999em;
}

label {
    cursor: pointer;
}

button, button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

object,
del,
sub,
var {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

area:focus {
    outline: none;
}

input:focus {
    border: 1px solid #de4f97;
    background-color: #fff;
}

input:focus,
img:focus,
embed:focus,
map:focus {
    outline: none;
}

.move {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}